{% extends "./todo.html" %}
{%load static%}
{% block body %}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                {% if salidas_id %}
                <h4 class="card-title">Editar Salida</h4>
                {% else %}
                <h4 class="card-title">Añadir Salida</h4>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <form data-toggle="validator" id="insumoform" name="insumoform">
                <div class="row"> 

                    <div class="col-md-6">                      
                        <div class="form-group">
                            <label for="fecha_vencimiento">Fecha de Salida *</label>
                            {% if salidas_id %}
                            <input type="date" class="form-control" placeholder="Ingrese la fecha de vencimiento" required id="fecha_salida" name="fecha_salida" value="{{ fecha_salida.fecha_ingreso|date:'Y-m-d' }}">
                            {% else %}
                            <input type="date" class="form-control" placeholder="Ingrese la fecha de vencimiento" required id="fecha_salida" name="fecha_salida">
                            {% endif %}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                
                    <div class="col-md-6">                      
                        <div class="form-group">
                            <label for="insumo">Insumo *</label>
                            <select id="insumo" name="insumo" class="selectpicker form-control" data-style="py-0">
                                <option>Seleccione una opción</option>
                                {%for insumo in insumos%}
                                <option value="{{insumo.pk}}" >{{insumo.nombre}}</option>
                                {% endfor %}
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                
                    <div class="col-md-6">                      
                        <div class="form-group">
                            <label for="unidad_medida">Unidades de Medida *</label>
                            <input id="unidad_medida" name="unidad_medida" class="form-control" Disabled>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cantidad">Cantidad * </label>
                            {% if salidas_id %}
                            <input type="number" class="form-control" placeholder="Ingrese cantidad" required id="cantidad" name="cantidad">
                            <script>
                                var vlrcantidad = parseInt("{{ entradas.cantidad }}");
                                document.getElementById('cantidad').value = vlrcantidad;
                            </script>
                            {% else %}
                            <input type="number" class="form-control" placeholder="Ingrese cantidad" required id="cantidad" name="cantidad">
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                
                
                <button type="submit" class="btn btn-primary mr-2">
                    {% if salidas_id %}
                    Editar Salidas
                    {% else %}
                    Añadir Salidas
                    {% endif %}
                </button>
                <button type="reset" class="btn btn-danger">Limpiar</button>
            </form>
        </div>
    </div>
</div>
<!--Modal de Avisos-->
<div id="avisomodal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body-aviso" style="text-align: center;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showAlertInModal(message) {
        // Establecer el mensaje en el cuerpo del modal
        document.querySelector(".modal-body-aviso").textContent = message;

        // Mostrar el modal
        $("#avisomodal").modal('show');
    }
</script>
    

<script>
    document.getElementById('insumo').addEventListener('change', function() {
    var insumoSeleccionado = this.value;

    fetch(`/insumos/cantidad-total/${insumoSeleccionado}/`)
    .then(response => response.json())
    .then(data => {
        console.log(data.unidad_medida)
        document.getElementById('unidad_medida').value = data.unidad_medida;
    })
    .catch(error => console.error('Error:', error));
});

</script>

<script>
    document.getElementById('insumoform').addEventListener('submit', function (e) {
        e.preventDefault();

        {% if salidas_id %}
        var salidas_id = "{{salidas_id}}"
        {% else %}
        var salidas_id = null
        {% endif %}

        var formData = new FormData(document.getElementById('insumoform'));
        {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}
        fetch('/salidas/crearsalida/', {
            method: 'POST',
            body: formData,
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    showAlertInModal(data.error);
                } else {
                    const actionMsg = salidas_id ? 'editada' : 'creada';
                    showAlertInModal(`Salida ${actionMsg} exitosamente!`)
                }
            })
            .catch(error => {
                console.error('Error en la solicitud:', error);
            });
    });

</script>


{% endblock %}