{% extends "./todo.html" %}
{% load static %}
{% block body %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Ingrediente Activo</h4>
        </div>
        {% if "creacion" in grupos_usuario%}
        <a href="{% url 'add_ingrediente' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir Ingrediente Activo</a>
        {% endif %}
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th>Nombre del Ingrediente Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="ligth-body">
            <!-- El cuerpo de la tabla será llenado dinámicamente desde el JavaScript -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
{% for ingrediente in ingredientes %}
<div id="exampleModalCenteredScrollable{{ ingrediente.id }}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Ingrediente Activo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Nombre del Ingrediente Activo:</b> {{ ingrediente.nombre }}<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}



<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}
        fetch('/insumos/ingredientes-activos/list-create/', {
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => response.json())
            .then(data => {
                const tbody = document.querySelector(".ligth-body");
                console.log(data)
                data.forEach(ingrediente => {
                    const row = document.createElement('tr');
                    var esAdministrador = {% if 'administracion' in grupos_usuario %}true{% else %}false{% endif %};
                    if (esAdministrador) {
                        var btn_eliminar = `<a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" data-placement="top" title="Delete" href="#" data-id="${ingrediente.id}"><i class="ri-delete-bin-line mr-0"></i></a>`
                    }
                    else{
                        var btn_eliminar = ''
                    }

                    var esEditar = {% if 'edicion' in grupos_usuario %}true{% else %}false{% endif %};
                    if (esEditar) {
                        var btn_editar = `<a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" data-placement="top" title="Edit" href="#" data-id="${ingrediente.id}"><i class="ri-pencil-line mr-0"></i></a>`
                    }
                    else{
                        var btn_editar = ''
                    }

                    row.innerHTML = `
                <td>${ingrediente.nombre}</td>
                <td>
                    <div class="d-flex align-items-center list-action">
                        <a class="badge badge-info mr-2" data-toggle="modal" data-placement="top" title="Información del Ingrediente" href="#" data-content="Nombres del Ingrediente:${ingrediente.name}" data-target="#exampleModalCenteredScrollable${ingrediente.id}"><i class="ri-eye-line mr-0"></i></a>
                        ${btn_editar}
                        ${btn_eliminar}
                        
                    </div>
                </td>
            `;
                    tbody.appendChild(row);
                });
                $('[data-toggle="popover"]').popover();

                $('[data-toggle="popover"]').on('show.bs.popover', function () {
                    $('[data-toggle="popover"]').not(this).popover('hide');
                });


            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>

<script>
    function showAlertInModal(message) {
        // Establecer el mensaje en el cuerpo del modal
        document.querySelector(".modal-body-aviso").textContent = message;

        // Mostrar el modal
        $("#avisomodal").modal('show');
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Event listener para editar Ingrediente Activo
        document.body.addEventListener('click', function (event) {
            if (event.target.closest('.edit-button')) {
                const ingredientId = event.target.closest('.edit-button').getAttribute('data-id');
                window.location.href = `/ingrediente/edit/${ingredientId}/`;
            }
        });

        // Event listener para eliminar Ingrediente Activo
        document.body.addEventListener('click', function (event) {
            if (event.target.closest('.delete-button')) {
                event.preventDefault();
                const ingredientId = event.target.getAttribute('data-id');
                const row = event.target.closest('tr');
                deleteIngrediente(ingredientId, row);
            }
        });

        // Event listener para ver Ingrediente Activo (Supongo que lo quieres)
        document.body.addEventListener('click', function (event) {
            if (event.target.closest('.view-button')) {
                const ingredientId = event.target.closest('.view-button').getAttribute('data-id');
                window.location.href = `/ingrediente/view/${ingredientId}/`;
            }
        });

        {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}

        // Función para eliminar Ingrediente Activo
        function deleteIngrediente(ingredientId, row) {

            showAlertInModal('¿Estás seguro de que deseas eliminar este ingrediente?', () => {
                fetch(`/insumos/ingredientes-activos/retrieve/${ingredientId}/`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                }
            })
                .then(data => {
                    if (data.status == 204) {
                        row.remove();
                        showAlertInModal('Ingrediente Activo eliminado exitosamente');
                    } else {
                        showAlertInModal('Hubo un error al eliminar el ingrediente activo');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });});
        }

        // Funciones de popover con jQuery
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'click',
                placement: 'top'
            });

            $('body').on('click', function (e) {
                $('[data-toggle="popover"]').each(function () {
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        });

    });

</script>

{% endblock %}