{% extends "./todo.html" %}
{% load static %}
{% block body %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Grupos de Insumos</h4>
            <p class="mb-0">  </p>
        </div>
        {% if "creacion" in grupos_usuario%}
        <a href="{% url 'add_grupo' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir Grupo de Insumos</a>
        {% endif %}
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
    <table class="data-table table mb-0 tbl-server-info">
        <thead class="bg-white text-uppercase">
            <tr class="ligth ligth-data">
                <th>Nombre</th>
                <th>Iniciales</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="ligth-body">
            {%for grupo in grupos%}
            <tr>
                <td>{{grupo.nombre}}</td>
                <td>{{grupo.inicial}}</td>
                <td>
                    <div class="d-flex align-items-center list-action">
                        <a class="badge badge-info mr-2 view-button" data-toggle="modal" data-placement="top" title="Información del Grupo" href="#" data-content="" data-target="#exampleModalCenteredScrollable{{grupo.id}}" data-id="{{grupo.id}}"><i class="ri-eye-line mr-0"></i></a>
                        {% if "edicion" in grupos_usuario%}<a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" data-placement="top" title="Edit" href="#" data-id="{{grupo.id}}"><i class="ri-pencil-line mr-0"></i></a>{%endif%}
                        {% if "administracion" in grupos_usuario%}<a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" data-placement="top" title="Delete" href="#" data-id="{{grupo.id}}"><i class="ri-delete-bin-line mr-0"></i></a>{%endif%}
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>

<!-- Modal -->
{% for grupo in grupos %}
<div id="exampleModalCenteredScrollable{{ grupo.id }}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Insumos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="insumosList{{ grupo.id }}"></ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}











<!--Funciones para eliminar la información -->
<script>
    
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.view-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const userId = event.target.closest(".view-button").getAttribute("data-id");
        viewGroup(userId, row);
    }
});

</script>
<!-- Script Generar insumos -->
<script>
    function viewGroup(userId, row) {
        {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}
                fetch(`/insumos/consultar_grupo/${userId}/`, { method: 'GET', headers: { 'Authorization': `Bearer ${accessToken}` } })  // Reemplaza "ruta-de-tu-vista" y "1" con los valores correctos
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const insumosData = data.insumos;

                            // Función para generar una lista HTML a partir de los datos
                            function generarListaInsumos(insumos) {
                                const ul = document.createElement("ul");

                                insumos.forEach(insumo => {
                                    const li = document.createElement("li");
                                    li.textContent = `${insumo.nombre} (ID: ${insumo.id})`;
                                    ul.appendChild(li);
                                });

                                return ul;
                            }

                            // Obtén un contenedor HTML donde deseas agregar la lista
                            const contenedorLista = document.getElementById(`insumosList${userId}`);

                            // Genera la lista de insumos y agrégala al contenedor
                            const listaInsumos = generarListaInsumos(insumosData);
                            contenedorLista.appendChild(listaInsumos);
                        } else {
                            console.error("Error:", data[0].message);
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            }

        </script>
<!--Script de Edición-->
<script>
    document.addEventListener("click", function (event) {
        if (event.target.closest(".edit-button")) {  // Verifica si el elemento presionado (o sus ancestros) tiene la clase 'edit-button'
            const userId = event.target.closest(".edit-button").getAttribute("data-id");
            window.location.href = `/add-grupo/edit/${userId}/`;  // Cambia 'ruta_de_edicion' por la ruta real que uses para editar usuarios
        }
    });
</script>

<!--Funciones para eliminar la información -->
<script>
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.delete-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const userId = event.target.closest(".delete-button").getAttribute("data-id");
        deleteUser(userId, row);
    }
});

</script>


<script>
    function showAlertInModal(message) {
    // Establecer el mensaje en el cuerpo del modal
    document.querySelector(".modal-body-aviso").textContent = message;
    
    // Mostrar el modal
    $("#avisomodal").modal('show');
}

</script>
<script>
    {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}
    function deleteUser(userId, row) {

        showAlertInModal('¿Estás seguro de que deseas eliminar este grupo?', () => {
            fetch(`/insumos/grupos/retrieve/${userId}`, {method: 'DELETE',headers: {'Authorization': `Bearer ${accessToken}`}})
            .then(data => {
                if (data.status==204) {
                    row.remove();
                    showAlertInModal('Grupo eliminado exitosamente');
                } else {
                    showAlertInModal('Hubo un error al eliminar la Grupo');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });});
    }


</script>




{% endblock %}