{% extends "./todo.html" %}
{% load static %}
{% block body %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Bodegas</h4>
            <p class="mb-0">  </p>
        </div>
        {% if "creacion" in grupos_usuario%}
        <a href="{% url 'add_bodegas' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir Bodega</a>
        {% endif %}
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info" id="bodegasTable" name="bodegasTable">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th>Nombre de Bodega</th>
                    <th>Ubicación</th>
                    <th>Hectareas</th>
                    <th>Finca</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="ligth-body">
                {% for lote in lotes %}
                    <tr>
                        <td>{{ lote.nombre_lote }}</td>
                        <td>{{ lote.ubicacion }}</td>
                        <td>{{ lote.hectareas }}</td>
                        <td>{{ lote.finca.nombre_finca }} </td>
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge badge-info mr-2" data-toggle="modal" data-title="Información de la Bodega" data-content="Nombre: {{ bodega.nombre_bodega }}" data-html="true" title="Información de Bodega" href="#" data-target="#exampleModalCenteredScrollable{{ lote.id }}"><i class="ri-eye-line mr-0"></i></a>
                                {% if "edicion" in grupos_usuario%}<a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Editar" href="#" data-id="{{ lote.id }}"><i class="ri-pencil-line mr-0"></i></a>{%endif%}
                                {% if "administracion" in grupos_usuario%}<a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Eliminar" href="#" data-id="{{ lote.id }}"><i class="ri-delete-bin-line mr-0"></i></a>{%endif%}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

{% for lote in lotes %}
    <div id="exampleModalCenteredScrollable{{ lote.id }}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Bodega</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>Nombre: </b><td>{{ lote.nombre_lote }}</td><br>
                    <b>Ubicación: </b><td>{{ lote.ubicacion }}</td><br>
                    <b>Hectareas: </b><td>{{ lote.hectareas }}</td><br>
                    <b>Nombre de la finca: </b><td>{{ lote.finca.nombre_finca }} </td><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<!--Modal de Avisos-->
<div id="avisomodal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body-aviso" style="text-align: center;">
            </div>
            <div class="modal-footer" id = "modal_footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




<!--Script de Edición-->
<script>
    document.addEventListener("click", function (event) {
        if (event.target.closest(".edit-button")) {  // Verifica si el elemento presionado (o sus ancestros) tiene la clase 'edit-button'
            const bodegas_id = event.target.closest(".edit-button").getAttribute("data-id");
            window.location.href = `/add-bodegas/edit/${bodegas_id}/`;  // Cambia 'ruta_de_edicion' por la ruta real que uses para editar usuarios
        }
    });
</script>

<!--Funciones para eliminar la información -->
<script>
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.delete-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const bodegas_id = event.target.getAttribute('data-id');
        
        deleteUser(bodegas_id, row);
    }
});

</script>

<script>
    function deleteUser(bodegas_id, row) {
        {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}

        showAlertInModal('¿Estás seguro de que deseas eliminar esta bodega?', () => 
        {fetch(`/user/lotes/retrieve/${bodegas_id}`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(data => {
                if (data.status==204) {
                    // Elimina la fila de la tabla
                    row.remove();
                    showAlertInModal('Bodega eliminado exitosamente.');
                } else {
                    showAlertInModal('Hubo un error al eliminar el Bodega.');
                }
            })
            .catch(error => {
                showAlertInModal('Error:'+ error)
                console.error('Error:', error);
            });});
    }


</script>

{% endblock %}