{% extends "./todo.html" %}
{% load static %}
{% block body %}
{% load humanize %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de estado inicial de Entradas</h4>
            <p class="mb-0"> Listado de Entradas registrados en plataforma </p>
        </div>
        <button data-table-id="suppliersTable" class="btn btn-success btnExportar">
            <i class="fas fa-file-excel"></i> Exportar datos a Excel
        </button>
        {% if "creacion" in grupos_usuario%}
        <a href="{% url 'add_entradas' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir</a>
        {% endif %}
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="row"> 

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="column2_search">Insumo: </label>
                        <input class="form-control" type="text" id="column2_search" placeholder="Buscar por Insumo">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="column8_search">Lote: </label>
                        <input class="form-control" type="text" id="column8_search" placeholder="Filtrar por Lote">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numero_factura">Proveedor: </label>
                        <input class="form-control" type="text" id="column10_search" placeholder="Buscar por Proveedor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info" id="suppliersTable">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th>Fecha de Ingreso</th>
                    <th>Identificador</th>
                    <th>Insumo</th>
                    <th>Unidad de Medida</th>
                    <th>Cantidad</th>
                    <th>V/unitario</th>
                    <th>Valor Total</th>
                    <th>Vencimiento</th>   
                    <th>Finca/Bodega</th>                                   
                    <th>Numero Factura</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody class="ligth-body">
                {% for entrada in entradas %}
                <tr>
                    <td>{{entrada.fecha_creacion|date:"j \d\e F \d\e Y" }}</td>
                    <td>{{entrada.identificador}}</td>
                    <td>{{entrada.insumo}}</td>
                    <td>{{entrada.unidad_medida}}</td>
                    <td>{{entrada.cantidad}}</td>
                    <td>$ {{entrada.valor_unitario_entrada_a |floatformat:2|intcomma}}</td>
                    <td>$ {{entrada.total |floatformat:2|intcomma}}</td>
                    <td>{{entrada.fecha_vencimiento|date:"j \d\e F \d\e Y" }}</td>
                    <td>{{entrada.bodega}}</td>
                    <td>{{entrada.numero_factura}}</td>
                    <td>{{entrada.proveedor}}</td>
                
                    <td>
                        <div class="d-flex align-items-center list-action">
                            <a class="badge badge-info mr-2" data-toggle="popover" data-title="Información del Usuario"
                                data-content="Representante Legal: {entrada.representante_legal} <br>Razón Social: {entrada.razon_social} <br>NIT: {entrada.nit_cedula}<br>Departamento: {entrada.departamento}<br>Municipio: {entrada.municipio}"
                                data-html="true" title="Información de Usuario" href="#"><i class="ri-eye-line mr-0"></i></a>
                                {% if "edicion" in grupos_usuario%}<a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Edit" href="#"
                                data-id="{{entrada.pk}}"><i class="ri-pencil-line mr-0"></i></a>{%endif%}
                                {% if "adminsitracion" in grupos_usuario%}<a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Delete" href="#"
                                data-id="{{entrada.pk}}"><i class="ri-delete-bin-line mr-0"></i></a>{%endif%}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
    </table>
    </div>
</div>


<!--<script>
    {% if user.is_authenticated %}
    //const accessToken = accessToken;
    const accessToken ="{{token}}"
    {% endif %}
 
    fetch('/entradas/list-create/', {
        headers: {
            'Authorization': `Bearer ${accessToken}`
        }
    })
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('suppliersTable').querySelector('tbody');

            // Limpiar el tbody por si hay datos previos
            tableBody.innerHTML = '';
            console.log(data)

            data.entradas.forEach(entrada => {
                const row = document.createElement('tr');


               // Crear y agregar cada columna (td) al row
                row.innerHTML = `
                <td>${entrada.fecha_creacion}</td>
                <td>${entrada.insumo}</td>
                <td>Unidad de medida</td>
                <td>${entrada.cantidad}</td>
                <td>${entrada.valor_unitario_entrada_a}</td>
                <td>Valor Total</td>
                <td>${entrada.fecha_vencimiento}</td>
                <td>${entrada.bodega}</td>
                <td>${entrada.numero_factura}</td>  
                <td>${entrada.proveedor}</td>

                
                <td>
                    <div class="d-flex align-items-center list-action">
                <a class="badge badge-info mr-2" data-toggle="popover" data-title="Información del Usuario" data-content="Representante Legal: ${entrada.representante_legal}<br>Razón Social: ${entrada.razon_social} <br>NIT: ${entrada.nit_cedula}<br>Departamento: ${entrada.departamento}<br>Municipio: ${entrada.municipio}" data-html="true" title="Información de Usuario" href="#"><i class="ri-eye-line mr-0"></i></a>
                <a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Edit" href="#" data-id="${entrada.id}"><i class="ri-pencil-line mr-0"></i></a>
                <a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Delete" href="#" data-id="${entrada.id}"><i class="ri-delete-bin-line mr-0"></i></a>
            </div>
                </td>`;

                // Agregar el row al tbody
                tableBody.appendChild(row);
            });
            $('[data-toggle="popover"]').popover();

            $('[data-toggle="popover"]').on('show.bs.popover', function () {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });

        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>-->


<!--Script de Edición-->
<script>
    document.addEventListener("click", function (event) {
        if (event.target.closest(".edit-button")) {  // Verifica si el elemento presionado (o sus ancestros) tiene la clase 'edit-button'
            const userId = event.target.closest(".edit-button").getAttribute("data-id");
            window.location.href = `/add-entradas/edit/${userId}/`;  // Cambia 'ruta_de_edicion' por la ruta real que uses para editar usuarios
        }
    });
</script>

<!--Funciones para eliminar la información -->
<script>
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.delete-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const buttonElement = event.target.closest('.delete-button');
        const userId = buttonElement.getAttribute('data-id');
        
        console.log("Botón activo")
        deleteUser(userId, row);
    }
});

</script>

<script>
    function deleteUser(userId, row) {
        {% if user.is_authenticated %}
        const accessToken = "{{token}}"
        {%else%}
        const accessToken = ""
        {% endif %}
        fetch(`/proveedores/retrieve/${userId}`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Elimina la fila de la tabla
                    row.remove();
                    alert('Usuario y su información asociada eliminados exitosamente.');
                } else {
                    alert('Hubo un error al eliminar el usuario.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>
<script>
    
    $(document).ready(function() {
        // Selecciona tu tabla por su ID y activa DataTables
        var table = $('#suppliersTable').DataTable({
            language: {
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "lengthMenu":     "Mostrando _MENU_ Entradas",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "search": "Buscar Dato:",
                "zeroRecords": "Sin resultados encontrados",
            }
        });
    
        // Aplica un filtro de búsqueda específico para la columna 3 (cambiar según sea necesario)
   
    $('#column1_search').on('keyup', function () {
        table
            .columns(0)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column2_search').on('keyup', function () {
        table
            .columns(1)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column3_search').on('keyup', function () {
        table
            .columns(2)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column4_search').on('keyup', function () {
        table
            .columns(3)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column5_search').on('keyup', function () {
        table
            .columns(4)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column6_search').on('keyup', function () {
        table
            .columns(5)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column7_search').on('keyup', function () {
        table
            .columns(6)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column8_search').on('keyup', function () {
        table
            .columns(7)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column9_search').on('keyup', function () {
        table
            .columns(8)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column10_search').on('keyup', function () {
        table
            .columns(9)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    $('#column11_search').on('keyup', function () {
        table
            .columns(10)  // Cambia el número de columna según la posición en tu tabla (empezando desde 0)
            .search(this.value)
            .draw();
    });
    


    });
    </script>


{% endblock %}