{%load static%}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ottsa | Inventarios</title>

    <!-- Favicon  -->
    <!--<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">-->
    <link rel="shortcut icon" href="{% static '/assets/images/logo_ottsa.svg' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/backend-plugin.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/backend.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/remixicon/fonts/remixicon.css' %}">
</head>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- links para exportar a excel -->
<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
<script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>


<body class="  ">

    <script>
        function showAlertInModal(message, callback) {
            // Establecer el mensaje en el cuerpo del modal
            const modalBody = document.querySelector(".modal-body-aviso");
            modalBody.textContent = message;
    
            // Modificar el botón del modal para ejecutar la función callback al hacer clic
            const modalFooter = document.querySelector(".modal-footer");
            const confirmButton = document.createElement('button');
            confirmButton.classList.add('btn', 'btn-primary');
            confirmButton.textContent = 'Confirmar';
    
            // Cerrar el modal al hacer clic en el botón Confirmar
            confirmButton.addEventListener('click', () => {
                $("#avisomodal").modal('hide');
                callback();
            });
    
            // Agregar el botón al pie del modal
            modalFooter.innerHTML = '';
            modalFooter.appendChild(confirmButton);
    
            // Mostrar el modal
            $("#avisomodal").modal('show');
        }
    </script> 

    <div id="avisomodal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-aviso" style="text-align: center;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">

        <div class="iq-sidebar  sidebar-default ">
            <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                <a href="#" class="header-logo">
                    <img src="{% static 'assets/images/logoinventario.png' %}" class="img-fluid rounded-normal light-logo" style="height: 50px"
                        alt="logo">
                    <h5 class="logo-title light-logo ml-3">Inventarios Eathekilla</h5>
                </a>
                <div class="iq-menu-bt-sidebar ml-0">
                    <i class="las la-bars wrapper-menu" style="color: #FFF;"></i>
                </div>
            </div>
            <div class="data-scrollbar" data-scroll="1">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        {% if "administracion" in grupos_usuario%}
                        <li class=" ">
                            <a href="#people" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <svg class="svg-icon" id="p-dash8" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>
                                <span class="ml-4">Usuarios</span>
                                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="10 15 15 20 20 15"></polyline>
                                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                </svg>
                            </a>
                            <ul id="people" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class="">
                                    <a href="{% url 'add_user' %}">
                                        <i class="las la-minus"></i><span>Añadir Usuarios</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_users' %}">
                                        <i class="las la-minus"></i><span>Listado de Usuarios</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        {% endif %}

                        <li class=" ">
                            <a href="#fincas" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    home
                                </span>
                                <span class="ml-4">Fincas</span>
                                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="10 15 15 20 20 15"></polyline>
                                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                </svg>
                            </a>
                            <ul id="fincas" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class="">
                                    <a href="{% url 'list_fincas' %}">
                                        <i class="las la-minus"></i><span>Listado de Fincas</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_lotes' %}">
                                        <i class="las la-minus"></i><span>Listado Lotes</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_bodegas' %}">
                                        <i class="las la-minus"></i><span>Listado Bodegas</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" ">
                            <a href="#proveedores" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    box_add
                                </span>
                                <span class="ml-4">Proveedores</span>
                                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="10 15 15 20 20 15"></polyline>
                                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                </svg>
                            </a>
                            <ul id="proveedores" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                {% if "creacion" in grupos_usuario%}
                                <li class="">
                                    <a href="{% url 'add_proveedor' %}">
                                        <i class="las la-minus"></i><span>Añadir Proveedor</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="">
                                    <a href="{% url 'list_proveedor' %}">
                                        <i class="las la-minus"></i><span>Listado de Proveedores</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                       {% comment %}  <li class=" ">
                            <a href="#insumos" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    inventory_2
                                </span>
                                <span class="ml-4">Insumos</span>
                                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="10 15 15 20 20 15"></polyline>
                                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                </svg>
                            </a>
                            <ul id="insumos" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class="">
                                    <a href="{% url 'list_unidad' %}">
                                        <i class="las la-minus"></i><span>Unidades de Medida</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_ingrediente' %}">
                                        <i class="las la-minus"></i><span>Ingredientes Activos</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_certificacion' %}">
                                        <i class="las la-minus"></i><span>Certificaciones</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_grupo' %}">
                                        <i class="las la-minus"></i><span>Grupos de Insumos</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'list_insumo' %}">
                                        <i class="las la-minus"></i><span>Listado de Insumos</span>
                                    </a>
                                </li>
                                {% if "creacion" in grupos_usuario%}
                                <li class="">
                                    <a href="{% url 'add_insumo' %}">
                                        <i class="las la-minus"></i><span>Añadir Insumo</span>
                                    </a>
                                </li>
                                {%endif%}
                                
                                
                                
                                
                                
                            </ul>
                        </li> {% endcomment %}
                        {% comment %} <li class=" ">
                            <a href="#entradas" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    call_received
                                </span>
                                <span class="ml-4">Entradas</span>
                                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="10 15 15 20 20 15"></polyline>
                                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                </svg>
                            </a>
                            <ul id="entradas" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                {% if "creacion" in grupos_usuario%}
                                <li class="">
                                    <a href="{% url 'add_entradas' %}">
                                        <i class="las la-minus"></i><span>Añadir Entradas</span>
                                    </a>
                                </li>
                                {%endif%}
                                <li class="">
                                    <a href="{% url 'list_entradas' %}">
                                        <i class="las la-minus"></i><span>Listado de Entradas</span>
                                    </a>
                                </li>
                                
                                <li class="">
                                    <a href="{% url 'inicialentrada' %}">
                                        <i class="las la-minus"></i><span>Estado Inicial de
                                            Entradas</span>
                                    </a>
                                </li>

                            </ul>
                        </li> {% endcomment %}
                        {% comment %} <li class=" ">
                            <a href="#salidas" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    call_made
                                </span>
                                <span class="ml-4">Salidas</span>
                                <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="10 15 15 20 20 15"></polyline>
                                    <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                </svg>
                            </a>
                            <ul id="salidas" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                {% if "creacion" in grupos_usuario%}
                                <li class="">
                                    <a href="{% url 'add_salidas' %}">
                                        <i class="las la-minus"></i><span>Añadir Salidas</span>
                                    </a>
                                </li>
                                {%endif%}
                                <li class="">
                                    <a href="{% url 'list_salidas' %}">
                                        <i class="las la-minus"></i><span>Listado de Salidas</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li> {% endcomment %}
                        <hr size="2px" color="white" />
                        <li class=" ">
                            
                            <a href="{% url 'logout' %}">Logout</a>
                                
                        </li>


                        <div class="d-flex align-items-center justify-content-center mt-3">
                            
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                        <i class="ri-menu-line wrapper-menu"></i>
                        <a href="#" class="header-logo">
                            <img src="{% static '/assets/images/LogoCrecentoAgricola.png' %}" class="img-fluid rounded-normal" style="height: 36px"
                                alt="logo">
                            <h5 class="logo-title ml-3">Inventarios Crecento</h5>

                        </a>
                    </div>
                    <div class="iq-search-bar device-search">
                    </div>
                    <div class="d-flex align-items-center">
                        {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-label="Toggle navigation">
                            <i class="ri-menu-3-line"></i>
                        </button> {% endcomment %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                <li>
                                </li>
                                <li class="nav-item nav-icon search-content">
                                    <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-search-line"></i>
                                    </a>
                                    <div class="iq-search-bar iq-sub-dropdown dropdown-menu"
                                        aria-labelledby="dropdownSearch">
                                        <form action="#" class="searchbox p-2">
                                            <div class="form-group mb-0 position-relative">
                                                <input type="text" class="text search-input font-size-12"
                                                    placeholder="type here to search...">
                                                <a href="#" class="search-link"><i class="las la-search"></i></a>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="nav-item nav-icon dropdown">
                                    </a>
                                    <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <div class="card shadow-none m-0">
                                            <div class="card-body p-0 ">
                                                <div class="cust-title p-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">All Messages</h5>
                                                        <a class="badge badge-primary badge-card" href="#">3</a>
                                                    </div>
                                                </div>
                                                <div class="px-3 pt-0 pb-0 sub-card">
                                                    <a href="#" class="iq-sub-card">
                                                        <div
                                                            class="media align-items-center cust-card py-3 border-bottom">
                                                            <div class="">
                                                                <img class="avatar-50 rounded-small"
                                                                    src="{% static '/assets/images/user/01.jpg' %}"
                                                                    alt="01">
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h6 class="mb-0">Emma Watson</h6>
                                                                    <small class="text-dark"><b>12 : 47 pm</b></small>
                                                                </div>
                                                                <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="iq-sub-card">
                                                        <div
                                                            class="media align-items-center cust-card py-3 border-bottom">
                                                            <div class="">
                                                                <img class="avatar-50 rounded-small"
                                                                    src="{% static '/assets/images/user/02.jpg' %}"
                                                                    alt="02">
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h6 class="mb-0">Ashlynn Franci</h6>
                                                                    <small class="text-dark"><b>11 : 30 pm</b></small>
                                                                </div>
                                                                <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="iq-sub-card">
                                                        <div class="media align-items-center cust-card py-3">
                                                            <div class="">
                                                                <img class="avatar-50 rounded-small"
                                                                    src="{% static '/assets/images/user/03.jpg' %}"
                                                                    alt="03">
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h6 class="mb-0">Kianna Carder</h6>
                                                                    <small class="text-dark"><b>11 : 21 pm</b></small>
                                                                </div>
                                                                <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <a class="right-ic btn btn-primary btn-block position-relative p-2"
                                                    href="#" role="button">
                                                    View All
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% comment %} <li class="nav-item nav-icon dropdown">
                                    <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                        </svg>
                                        <span class="bg-primary "></span>
                                    </a>
                                    <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="card shadow-none m-0">
                                            <div class="card-body p-0 ">
                                                <div class="cust-title p-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Notificaciones</h5>
                                                        <a class="badge badge-primary badge-card" href="#">3</a>
                                                    </div>
                                                </div>
                                                <div class="px-3 pt-0 pb-0 sub-card" id="entradasContainer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> {% endcomment %}
                                <li class="nav-item nav-icon dropdown caption-content">
                                    <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="{% static '/assets/images/user/1.png' %}" class="img-fluid rounded"
                                            alt="user">
                                    </a>
                                    {% comment %} <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="card shadow-none m-0">
                                            <div class="card-body p-0 text-center">
                                                <div class="p-3">
                                                    <h5 class="mb-1">
                                                        {% if user.is_authenticated %}
                                                        <p>{{ user.fist_name }} {{user.last_name}}</p>
                                                        {% else %}
                                                        <p>Por favor, inicie sesión para ver su correo electrónico.</p>
                                                        {% endif %}
                                                    </h5>
                                                    <div class="d-flex align-items-center justify-content-center mt-3">
                                                        <a href="{% url 'logout' %}"><button type="button"
                                                                class="mt-2 btn btn-danger">Logout</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="modal fade" id="new-order" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="popup text-left">
                            <h4 class="mb-3">New Order</h4>
                            <div class="content create-workform bg-body">
                                <div class="pb-3">
                                    <label class="mb-2">Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Name or Email">
                                </div>
                                <div class="col-lg-12 mt-4">
                                    <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                        <div class="btn btn-primary mr-4" data-dismiss="modal">Cancel</div>
                                        <div class="btn btn-outline-primary" data-dismiss="modal">Create</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper 
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><a href="../backend/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li class="list-inline-item"><a href="../backend/terms-of-service.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span class="mr-1">
                                <script>document.write(new Date().getFullYear())</script>©
                            </span> <a href="#" class="">Ottsa</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>End-->
    <!-- Backend Bundle JavaScript -->
    <script src="{% static '/assets/js/backend-bundle.min.js' %}"></script>

    <!-- Table Treeview JavaScript -->
    <script src="{% static '/assets/js/table-treeview.js' %}"></script>

    <!-- Chart Custom JavaScript -->
    <script src="{% static '/assets/js/customizer.js' %}"></script>

    <!-- Chart Custom JavaScript -->
    <script async src="{% static '/assets/js/chart-custom.js' %}"></script>

    <!-- app JavaScript -->
    <script src="{% static '/assets/js/appdfront.js' %}"></script>
    <script>
        // URL del endpoint
        const url = "/entradas/entradas-proximas-a-vencer/";

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('entradasContainer');
                let html = '';
                data.forEach(entrada => {
                    const hoy = new Date();
                    const fechaVencimiento = new Date(entrada.fecha_vencimiento);
                    const diasParaVencer = Math.ceil((fechaVencimiento - hoy) / (1000 * 60 * 60 * 24));

                    html += `
                <a href="#" class="iq-sub-card">
                    <div class="media align-items-center cust-card py-3 border-bottom">
                        <div class="media-body ml-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">${entrada.insumo}</h6>
                                <small class="text-dark"><b>${entrada.fecha_vencimiento}</b></small>
                            </div>
                            <small class="mb-0">${diasParaVencer} días para vencer</small>
                        </div>
                    </div>
                </a>`;
                });
                container.innerHTML = html;
            })
            .catch(error => {
                console.error('Error fetching the data:', error);
            });

    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Buscar la cookie por nombre
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

    <script>
        // Función para exportar cualquier tabla a Excel
        function exportarTablaAExcel(idTabla) {
            const tabla = document.querySelector(`#${idTabla}`);
            if (!tabla) {
                console.error(`No se encontró ninguna tabla con el id "${idTabla}"`);
                return;
            }

            let tableExport = new TableExport(tabla, {
                exportButtons: false, // No queremos botones
                filename: "Reporte", // Nombre del archivo de Excel
                sheetname: "Reporte", // Título de la hoja
            });

            let datos = tableExport.getExportData();
            let preferenciasDocumento = datos[idTabla].xlsx;
            tableExport.export2file(
                preferenciasDocumento.data,
                preferenciasDocumento.mimeType,
                preferenciasDocumento.filename,
                preferenciasDocumento.fileExtension,
                preferenciasDocumento.merges,
                preferenciasDocumento.RTL,
                preferenciasDocumento.sheetname
            );
        }

        // Event listeners para botones de exportación específicos
        document.addEventListener("DOMContentLoaded", function () {
            const botonesExportar = document.querySelectorAll(".btnExportar");

            botonesExportar.forEach((boton) => {
                boton.addEventListener("click", function () {
                    const idTabla = boton.getAttribute("data-table-id");
                    exportarTablaAExcel(idTabla);
                });
            });
        });

    </script>

    <script>
        function formatCurrency(input) {
            // Obtener el valor ingresado por el usuario
            let value = input.value;
    
            // Eliminar cualquier caracter que no sea un número o un punto decimal
            let numericValue = parseFloat(value.replace(/[^0-9.]/g, '')) || 0;
    
            // Almacenar el valor numérico en un atributo personalizado
            input.setAttribute('data-rawvalue', numericValue);
    
            // Formatear el valor con comas en la parte entera
            let formattedValue = numericValue.toLocaleString('es-CO', { maximumFractionDigits: 2 });
    
            // Asignar el valor formateado al input
            input.value = formattedValue;
        }
    </script>
       

</body>


</html>