{% extends "./todo.html" %}
{% load static %}
{% block body %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Proveedores</h4>
            <p class="mb-0"> Listado de Proveedores registrados en plataforma </p>
        </div>
        <a href="{% url 'add_proveedor' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir</a>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
    <table class="data-table table mb-0 tbl-server-info" id="suppliersTable">
        <thead class="bg-white text-uppercase">
            <tr class="ligth ligth-data">
                <th>NIT</th>
                <th>Razón Social</th>
                <th>Representante Legal</th>
                <th>Dirección</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Accion</th>
                
            </tr>
        </thead>
        <tbody class="ligth-body">
            <tr>
                <td>321654987</td>
                <td>Thekilla Apps</td>
                <td>Esteban Ramirez</td>
                <td>Cra 50 # 35 -40</td>
                <td>Casanare</td>
                <td>Yopal</td>
                <td>
                    <div class="d-flex align-items-center list-action">
                        <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                            href="#"><i class="ri-eye-line mr-0"></i></a>
                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                            href="#"><i class="ri-pencil-line mr-0"></i></a>
                        <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                            href="#"><i class="ri-delete-bin-line mr-0"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="avisomodal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-aviso" style="text-align: center;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<script>
    {% if user.is_authenticated %}
    //const accessToken = accessToken;
    const accessToken ="{{token}}"
    {% endif %}

    fetch('/proveedores/list-create/', {
        headers: {
            'Authorization': `Bearer ${accessToken}`
        }
    })
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('suppliersTable').querySelector('tbody');

            // Limpiar el tbody por si hay datos previos
            tableBody.innerHTML = '';

            data.forEach(supplier => {
                const row = document.createElement('tr');

                /*<th>NIT</th>
                <th>Razón Social</th>
                <th>Representante Legal</th>
                <th>Dirección</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Accion</th>*/

                // Crear y agregar cada columna (td) al row
                row.innerHTML = `
                <td>${supplier.nit_cedula}</td>
                <td>${supplier.razon_social}</td>
                <td>${supplier.representante_legal}</td>
                <td>${supplier.direccion}</td>
                <td>${supplier.departamento}</td>
                <td>${supplier.municipio}</td>
                <td>
                    <div class="d-flex align-items-center list-action">
                <a class="badge badge-info mr-2" data-toggle="modal" data-title="Información del Usuario" data-target="#exampleModalCenteredScrollable${supplier.id}"  data-html="true" title="Información de Usuario" href="#"><i class="ri-eye-line mr-0"></i></a>
                <a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Edit" href="#" data-id="${supplier.id}"><i class="ri-pencil-line mr-0"></i></a>
                <a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Delete" href="#" data-id="${supplier.id}"><i class="ri-delete-bin-line mr-0"></i></a>
            </div>
                </td>
                <div id="exampleModalCenteredScrollable${supplier.id}" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Entrada</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <b>Razón Social:</b>  ${supplier.razon_social}<br>
                                <b>NIT:</b> ${supplier.nit_cedula}<br>
                                <b>Representante Legal:</b> ${supplier.representante_legal}<br>
                                <b>Departamento: </b> ${supplier.departamento}<br>
                                <b>Municipio: </b>${supplier.municipio}<br>
                                <b>Dirección: </b> ${supplier.direccion}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                `;

                // Agregar el row al tbody
                tableBody.appendChild(row);
            });
            $('[data-toggle="popover"]').popover();

            $('[data-toggle="popover"]').on('show.bs.popover', function () {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });

        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>


<!--Script de Edición-->
<script>
    document.addEventListener("click", function (event) {
        if (event.target.closest(".edit-button")) {  // Verifica si el elemento presionado (o sus ancestros) tiene la clase 'edit-button'
            const userId = event.target.closest(".edit-button").getAttribute("data-id");
            window.location.href = `/proveedor/edit/${userId}/`;  // Cambia 'ruta_de_edicion' por la ruta real que uses para editar usuarios
        }
    });
</script>

<script>
    function showAlertInModal(message) {
    // Establecer el mensaje en el cuerpo del modal
    document.querySelector(".modal-body-aviso").textContent = message;
    
    // Mostrar el modal
    $("#avisomodal").modal('show');
}

</script>

<!--Funciones para eliminar la información -->
<script>
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.delete-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const buttonElement = event.target.closest('.delete-button');
        const userId = buttonElement.getAttribute('data-id');
        deleteUser(userId, row);
    }
});

</script>

<script>
    function deleteUser(userId, row) {
        fetch(`/proveedores/retrieve/${userId}`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(data => {
                if (data.status==204) {
                    // Elimina la fila de la tabla
                    row.remove();
                    showAlertInModal('Usuario y su información asociada eliminados exitosamente.');
                    
                } else {
                    showAlertInModal('Hubo un error al eliminar el usuario.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>


{% endblock %}