{% extends "./todo.html" %}
{% load static %}
{% block body %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Certificaciones</h4>
            <p class="mb-0"> </p>
        </div>
        <a href="{% url 'add_certificacion' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir
            Certificación</a>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th>Registro ICA</th>
                    <th>Fecha de Carencia</th>
                    <th>Fecha de Ingreso</th>
                    <th>Ingrediente Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="ligth-body">
                <!-- Los datos de las certificaciones se renderizarán aquí -->
            </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {

        fetch('/insumos/certificaciones/list-create/', {
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
        .then(response => response.json())
        .then(data => {
            const tbody = document.querySelector(".ligth-body");

            data.forEach(certificacion => {
                fetch(`/insumos/editar/ingrediente/${certificacion.ingrediente_activo}/`, {
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                })
                .then(response => response.json())
                .then(ingrediente => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${certificacion.registro_ica}</td>
                    <td>${certificacion.periodo_carencia}</td>
                    <td>${certificacion.periodo_reingreso}</td>
                    <td>${ingrediente.nombre}</td>
                    <td>
                        <div class="d-flex align-items-center list-action">
                            <a class="badge badge-info mr-2" data-toggle="popover" data-placement="top" title="" data-original-title="View" data-content="Nombres y Apellidos:${certificacion.name}" href="#"><i class="ri-eye-line mr-0"></i></a>
                            <a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="#" data-id="${certificacion.id}"><i class="ri-pencil-line mr-0"></i></a>
                            <a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#" data-id="${certificacion.id}"><i class="ri-delete-bin-line mr-0"></i></a>
                        </div>
                    </td>`;
                    tbody.appendChild(row);
                });
            });

            $('[data-toggle="popover"]').popover();

            $('[data-toggle="popover"]').on('show.bs.popover', function () {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Event listener para editar certificación
            document.body.addEventListener('click', function(event) {
                if (event.target.closest('.edit-button')) {
                    const certId = event.target.closest('.edit-button').getAttribute('data-id');
                    window.location.href = `/certificacion/edit/${certId}/`;
                }
            });

            // Event listener para eliminar certificación
            document.body.addEventListener('click', function(event) {
                if (event.target.closest('.delete-button')) {
                    event.preventDefault();
                    const certId = event.target.getAttribute('data-id');
                    const row = event.target.closest('tr');
                    deleteCertificacion(certId, row);
                }
            });

            // Función para eliminar certificación
            function deleteCertificacion(certId, row) {
                fetch(`/insumos/certificaciones/retrieve/${certId}/`, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        row.remove();
                        alert('Certificación eliminada exitosamente.');
                    } else {
                        alert('Hubo un error al eliminar la certificación.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            // Funciones de popover
            $(document).ready(function() {
                $('[data-toggle="popover"]').popover({
                    html: true,
                    trigger: 'click',
                    placement: 'top'
                });
            });

            $('body').on('click', function(e) {
                $('[data-toggle="popover"]').each(function() {
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        });
    </script>


{% endblock %}