{% extends "./todo.html" %}
{% load static %}
{% block body %}


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Entradas</h4>
            <p class="mb-0"> Listado de Entradas registrados en plataforma </p>
        </div>
        <a href="{% url 'add_salidas' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir</a>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
        <table class="data-table table mb-0 tbl-server-info" id="suppliersTable">
            <thead class="bg-white text-uppercase">
                <tr class="ligth ligth-data">
                    <th>Fecha de Salida</th>
                    <th>Insumo</th>
                    <th>Cantidad</th>
                    <th>Valor Total de Salida</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody class="ligth-body">
                {% for salida in salidas %}
                <tr>
                    <td>{{salida.fecha_salida|date:"j \d\e F \d\e Y" }}</td>
                    <td>{{salida.insumo}}</td>
                    <td>{{salida.cantidad}}</td>
                    <td>{{salida.valor_total_salida}}</td>                
                    <td>
                        <div class="d-flex align-items-center list-action">
                            <a class="badge badge-info mr-2" data-toggle="popover" data-title="Información del Usuario"
                                data-content="Representante Legal: {entrada.representante_legal} <br>Razón Social: {entrada.razon_social} <br>NIT: {entrada.nit_cedula}<br>Departamento: {entrada.departamento}<br>Municipio: {entrada.municipio}"
                                data-html="true" title="Información de Usuario" href="#"><i class="ri-eye-line mr-0"></i></a>
                            <a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Edit" href="#"
                                data-id="{{salida.pk}}"><i class="ri-pencil-line mr-0"></i></a>
                            <a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Delete" href="#"
                                data-id="{{salida.pk}}"><i class="ri-delete-bin-line mr-0"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
    </table>
    </div>
</div>

<script>console.log(JSON.stringify("{{entradas}}"))</script>


<!--<script>
    {% if user.is_authenticated %}
    //const accessToken = accessToken;
    const accessToken ="{{token}}"
    {% endif %}
 
    fetch('/entradas/list-create/', {
        headers: {
            'Authorization': `Bearer ${accessToken}`
        }
    })
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('suppliersTable').querySelector('tbody');

            // Limpiar el tbody por si hay datos previos
            tableBody.innerHTML = '';
            console.log(data)

            data.entradas.forEach(entrada => {
                const row = document.createElement('tr');


               // Crear y agregar cada columna (td) al row
                row.innerHTML = `
                <td>${entrada.fecha_creacion}</td>
                <td>${entrada.insumo}</td>
                <td>Unidad de medida</td>
                <td>${entrada.cantidad}</td>
                <td>${entrada.valor_unitario_entrada_a}</td>
                <td>Valor Total</td>
                <td>${entrada.fecha_vencimiento}</td>
                <td>${entrada.bodega}</td>
                <td>${entrada.numero_factura}</td>  
                <td>${entrada.proveedor}</td>

                
                <td>
                    <div class="d-flex align-items-center list-action">
                <a class="badge badge-info mr-2" data-toggle="popover" data-title="Información del Usuario" data-content="Representante Legal: ${entrada.representante_legal}<br>Razón Social: ${entrada.razon_social} <br>NIT: ${entrada.nit_cedula}<br>Departamento: ${entrada.departamento}<br>Municipio: ${entrada.municipio}" data-html="true" title="Información de Usuario" href="#"><i class="ri-eye-line mr-0"></i></a>
                <a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Edit" href="#" data-id="${entrada.id}"><i class="ri-pencil-line mr-0"></i></a>
                <a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Delete" href="#" data-id="${entrada.id}"><i class="ri-delete-bin-line mr-0"></i></a>
            </div>
                </td>`;

                // Agregar el row al tbody
                tableBody.appendChild(row);
            });
            $('[data-toggle="popover"]').popover();

            $('[data-toggle="popover"]').on('show.bs.popover', function () {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });

        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>-->


<!--Script de Edición-->
<script>
    document.addEventListener("click", function (event) {
        
        if (event.target.closest(".edit-button")) {  // Verifica si el elemento presionado (o sus ancestros) tiene la clase 'edit-button'
            const userId = event.target.closest(".edit-button").getAttribute("data-id");
            console.log(userId)
            window.location.href = `/add-salidas/edit/${userId}/`;  // Cambia 'ruta_de_edicion' por la ruta real que uses para editar usuarios
        }
    });
</script>

<!--Funciones para eliminar la información -->
<script>
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.delete-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const buttonElement = event.target.closest('.delete-button');
        const userId = buttonElement.getAttribute('data-id');
        
        console.log("Botón activo")
        deleteUser(userId, row);
    }
});

</script>

<script>
    function deleteUser(userId, row) {
        
        fetch(`/salidas/retrieve/${userId}`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Elimina la fila de la tabla
                    row.remove();
                    alert('Usuario y su información asociada eliminados exitosamente.');
                } else {
                    alert('Hubo un error al eliminar el usuario.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>


{% endblock %}