{% extends "./todo.html" %}
{% load static %}
{% block body %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="col-lg-12">
    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
        <div>
            <h4 class="mb-3">Listado de Usuarios</h4>
            <p class="mb-0"> Listado de usuarios registrados en plataforma </p>
        </div>
        <a href="{% url 'add_user' %}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Añadir</a>
    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive rounded mb-3">
    <table class="data-table table mb-0 tbl-server-info" id="usersTable">
        <thead class="bg-white text-uppercase">
            <tr class="ligth ligth-data">
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Permisos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody class="ligth-body">
            <!--Aqui se renderizan los datos dela tabla-->
        </tbody>
    </table>
    </div>
    <div id="avisomodal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Aviso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-aviso" style="text-align: center;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    {% if user.is_authenticated %}
    //const accessToken = accessToken;
    const accessToken ="{{token}}"
    {% endif %}

    fetch('/user/info/all/', {
        headers: {
            'Authorization': `Bearer ${accessToken}`
        }
    })
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('usersTable').querySelector('tbody');

            // Limpiar el tbody por si hay datos previos
            tableBody.innerHTML = '';

            data.forEach(user => {
                const row = document.createElement('tr');

                // Crear y agregar cada columna (td) al row
                row.innerHTML = `
        <td>${user.usuario.fist_name}</td>
        <td>${user.usuario.last_name}</td>
        <td>${user.usuario.email}</td>
        <td>${user.telefono}</td>
        <td>${user.usuario.groups.join(', ') || 'Ninguno'}</td>
        <td>
            <div class="d-flex align-items-center list-action">
                <a class="badge badge-info mr-2" data-toggle="modal" data-title="Información del Usuario" data-target="#exampleModalCenteredScrollable" data-html="true" title="Información de Usuario" href="#"><i class="ri-eye-line mr-0"></i></a>
                <a class="badge bg-success mr-2 edit-button" data-toggle="tooltip" title="Edit" href="#" data-id="${user.usuario.id}"><i class="ri-pencil-line mr-0"></i></a>
                <a class="badge bg-warning mr-2 delete-button" data-toggle="tooltip" title="Delete" href="#" data-id="${user.usuario.id}"><i class="ri-delete-bin-line mr-0"></i></a>
            </div>
        </td>
        <!--MOODAL-->
                    <div id="exampleModalCenteredScrollable" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <b>Nombres y Apellidos:</b> ${user.usuario.nombre} ${user.usuario.apellido}<br>
                                <b>Email:</b> ${user.usuario.email} <br>
                                <b>Teléfono:</b> ${data.telefono}<br>
                                <b>Dirección:</b> ${data.direccion}<br>
                                <b>Permisos del Usuario:</b> ${user.usuario.groups.join(', ') || 'Ninguno'}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
<!--                                 <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                        </div>
                    </div>
        
        
        `;

                // Agregar el row al tbody
                tableBody.appendChild(row);
            });

            $('[data-toggle="popover"]').popover();

            $('[data-toggle="popover"]').on('show.bs.popover', function () {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });

        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>

<script>
    document.addEventListener("click", function (event) {
        if (event.target.closest(".edit-button")) {  // Verifica si el elemento presionado (o sus ancestros) tiene la clase 'edit-button'
            const userId = event.target.closest(".edit-button").getAttribute("data-id");
            window.location.href = `/user/edit/${userId}/`;  // Cambia 'ruta_de_edicion' por la ruta real que uses para editar usuarios
        }
    });
</script>

<!--Funciones para eliminar la información -->
<script>
    document.body.addEventListener('click', function(event) {
    if (event.target.closest('.delete-button')) {
        event.preventDefault();

        // Identifica la fila que contiene el botón
        const row = event.target.closest('tr');

        // Suponiendo que el botón tiene un atributo 'data-id' que contiene el ID del usuario
        const buttonElement = event.target.closest('.delete-button');
        const userId = buttonElement.getAttribute('data-id');
        
        console.log("Botón activo")
        deleteUser(userId, row);
    }
});

</script>

<script>
    function showAlertInModal(message) {
    // Establecer el mensaje en el cuerpo del modal
    document.querySelector(".modal-body-aviso").textContent = message;
    
    // Mostrar el modal
    $("#avisomodal").modal('show');
}

</script>

<script>
    function deleteUser(userId, row) {
        fetch(`/user/delete_user/${userId}/`, {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Elimina la fila de la tabla
                    row.remove();
                    showAlertInModal('Usuario y su información asociada eliminados exitosamente.');
                } else {
                    showAlertInModal('Hubo un error al eliminar el usuario. ');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showAlertInModal('Hubo un error inesperado al intentar eliminar el usuario.');
            });
    }



</script>

<!--Funciones popover-->
<scripT>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true,  // Esto permite que el contenido del popover pueda interpretar HTML.
            trigger: 'click',
            placement: 'top'  // Puedes cambiar esto para controlar la posición del popover.
        });
    });
    
</script>

<script>
    $('body').on('click', function(e) {
    $('[data-toggle="popover"]').each(function() {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

</script>





{% endblock %}